.header {
  width: 40rem;
  margin-bottom: 15rem;
}

body {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.5) 100%);
  background-repeat: no-repeat;
}

.container {
  margin: 0 25%;
  width: 20rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-text {
  text-align: center;
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 2rem;
  margin: 100px auto 13px auto;
}

.slider {
  width: 20rem;
  overflow: hidden;
  height: 20rem;
  position: relative;
  box-shadow:0 0 10px black;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    width: 500%;
    height: 200%;
    top: 0;
  }

  li {
    padding: 0;
    margin: 0;
    width: 10%;
    height: 20rem;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;

    img {
      border: none;
      width: 20rem;
      height: 20rem;
    }
  }

  button {
    position: absolute;
    display: block;
    box-sizing: border-box;
    border: none;
    outline: none;
    top: 0;
    bottom: 0;
    width: 20%;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
    opacity: 0;
    z-index: 2;
  }

  button.prev {
    left: 0;
  }

  button.next {
    right: 0;
  }

  button:hover,
  button:active {
    opacity: 1;
  }

  .content {
    z-index: 3;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3em;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 0.25em 1em;
    font-size: 1em;

    a {
      color: inherit;
    }
  }
}




// .slider ul {
//   margin: 0;
//   padding: 0;
//   list-style: none;
//   position: absolute;
//   width: 500%;
//   height: 200%;
//   top: 0;
// }

// .slider li {
//   padding: 0;
//   margin: 0;
//   width: 10%;
//   height: 20rem;
//   overflow: hidden;
//   position: absolute;
//   top: 0;
//   bottom: 0;
// }

// .slider li img {
//   border: none;
//   width: 20rem;
//   height: 20rem;
// }

// .slider button {
//   position: absolute;
//   display: block;
//   box-sizing: border-box;
//   border: none;
//   outline: none;
//   top: 0;
//   bottom: 0;
//   width: 20%;
//   background-color: rgba(0, 0, 0, 0.3);
//   color: #fff;
//   margin: 0;
//   padding: 0;
//   text-align: center;
//   opacity: 0;
//   z-index: 2;
// }

// .slider button.prev {
//   left: 0;
// }

// .slider button.next {
//   right: 0;
// }

// .slider button:hover,
// .slider button:active {
//   opacity: 1;
// }

// .slider .content {
//   z-index: 3;
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   height: 3em;
//   box-sizing: border-box;
//   background-color: rgba(0, 0, 0, 0.5);
//   color: #fff;
//   padding: 0.25em 1em;
//   font-size: 1em;
// }

// .slider .content a {
//   color: inherit;
// }

@media (min-width: 800px) {
  .header-text {
    font-size: 2.5rem;
    margin: 100px auto 30px auto;
  }

  .container {
    width: 30rem;
  }

  .header {
    width: 60rem;
  }

  .slider {
    width: 30rem;
    height: 30rem;

    li {
      height: 30rem;

      img {
        width: 30rem;
        height: 30rem;
      }
    }
  }

  // .slider li {
  //   height: 30rem;
  // }

  // .slider li img {
  //   width: 30rem;
  //   height: 30rem;
  // }
}
